<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;600&family=Rubik:wght@400;500&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/myTicketStyle.css">
    <title>TICKETS AGAIN</title>
</head>
<body>

    <div class="main-content">

        <div class="top-content">
            <div class="title">
                View Ticket
            </div>

            <div class="button"><a href="/createTicket">Create Tickets</a></div>

            <div class="button"> <a href="/viewTicket">View Tickets</a></div>
        </div>

        <div class="middle-content">
            
            <form action="/findTickets" method="post" class="create-ticket-form">
                
                <input type="email" name="userEmail" id="email" class="theInput" placeholder="Your email here">

                <button class="button" name="formButton" value="reset">Reset</button>
                <button class="button" name="formButton" value="submit">Submit</button>

                
            </form>

            <% for(let i = 0; i < allTickets.length; i++){ %>

            <div class="the-ticket">
                <p class="content"><b>Ticket No:</b> <%= allTickets[i].ticketId %></p>
                <p class="content"><b>Subject:</b> <%= allTickets[i].ticketSub %></p>
                <p class="link"><a href="/ticketDetails/<%= allTickets[i].ticketId %>">See more...</a></p>
            </div>

           <% } %>

        </div>


        <div class="lower-content">


        </div>

    </div>
    
</body>
</html>